body {
  //line-height: 1;
  //font-size: 16px;
  color: white;
  font-weight: 500;
  font-family: Montserrat;
  position: absolute;
  width: 1920px;
  height: 1280px;
  left: 0px;
  top: 0px;
  //background: url("darkTheme.jpg");

}

.wrapper {
  min-height: 100%;
  overflow: hidden;

}

.header{

  &__logo{
    position: absolute;
    width: 446px;
    height: 76px;
    left: 157px;
    top: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    color: crimson;

  }
  &-img{
    position: absolute;
    width: 110px;
    height: 128.6px;
    left: 47px;
    top: 16px;

    //background: url(user-astronaut-solid.png);
  }
}

.form{
  position: absolute;
  width: 801px;
  height: 895px;
  left: 554px;
  top: 193px;
  background: linear-gradient(180deg, #69AEC5 0%, rgba(29, 74, 115, 0.25) 100%);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;

  &__fields{

  }
  &__field{
    position: absolute;
    align-content: center;
    width: 625px;
    height: 8px;
    border-bottom: 4px solid white;
    //left: 647px;
    //top: 533px;
    background: white;
    transform: matrix(1, 0, 0, -1, 0, 0);
    &:active{
      border-bottom: 4px solid #FF9C32;
    }

  }
  &__input{
    font-size: 64px;
    line-height: 78px;
    font-style: normal;
    font-weight: normal;
    &:active{
      text-decoration-color: #FF9C32;
    }

  }
  &__button{
    position: absolute;
    width: 378px;
    height: 74px;
    left: 770px;
    top: 913px;

    &-login{
      background: #FF9C32;
      box-shadow: 4px 4px 4px #69AEC5;

    }
  }
}

