$d-main-color: #ffffff;
$d-body-bg: url("../../assets/img/darkTheme1.jpg") no-repeat;
$d-logo-bg: url("../../assets/img/icons/logo-white.png") 0 0 no-repeat;
$d-border-color: rgb(171, 195, 204);
$d-main-bg: linear-gradient(180deg, #69AEC5 0%, #448499 0.01%, rgba(15, 60, 93, 0.75) 100%);
$d-hover-color: rgb(10, 41, 64);
$d-button-bg: rgba(15, 60, 93, 0.6);
$d-modal-area-bg: rgba(26, 26, 26, 0.9);
$d-modal-bg: linear-gradient(180deg, #73A4C8 0%, rgba(1, 36, 63, 0.83) 100%);
$d-select-bg: url('../../assets/img/icons/vector.png') no-repeat calc(100% - 10px) center;
$d-option-bg: #284c64;
$d-error: red;
$d-input-bg: #0F3C5DA6;
$d-search-bg: url('../../assets/img/icons/search.png') no-repeat;
$d-box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
$d-modal-btn-bg: rgba(0, 0, 0, 0.3);
$d-table-th-bg: rgba(15, 60, 93, 0.7);
$d-selected-row: #0A2940;


$l-main-color: #000000;
$l-body-bg: url("../../assets/img/lighttheme.jpg") no-repeat;
$l-logo-bg: url("../../assets/img/icons/logo-black.png") 0 0 no-repeat;
$l-border-color: #000000;
$l-main-bg: linear-gradient(180deg, #D0CBD8 0%, rgba(255, 255, 255, 0.66) 100%);
$l-hover-color: #837788;
$l-button-bg: #BCB3C2;
$l-modal-bg: linear-gradient(180deg, #F5DDFF 0%, #707070 100%);
$l-select-bg: url('../../assets/img/icons/vector-black.png') no-repeat calc(100% - 4px) center;
$l-option-bg: #A9A0B2;
$l-modal-area-bg: #837788A6;
$l-input-bg: #B7ACBCCC;
$l-search-bg: url('../../assets/img/icons/search-black.png') no-repeat;
$l-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$l-shadow-input: 0 0 5px rgba(0, 0, 0, 0.5);
$l-table-th-bg: linear-gradient(180deg, #D0CBD8 0%, rgba(255, 255, 255, 0.66) 100%);


%message-shared {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background: $d-body-bg;
  background-size: cover;
  color: $d-main-color;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 13px 52px;

  .header {
    &__container {
      @extend %message-shared;
      justify-content: space-between;
    }

    &__logo {
      @extend %message-shared;
      background: $d-logo-bg;
      background-size: contain;
      height: 100px;
      padding-left: 86px;
    }

    &__team-name {
      font-size: 38px;
      color: $d-main-color;
    }

    &__menu {
      @extend %message-shared;
      justify-content: space-around;
      width: 554px;
      height: 60px;
      border: $d-border-color;
      background: $d-main-bg;

      &_select {
        appearance: none;
        color: $d-main-color;
        background: $d-select-bg;
        background-size: 18px;
        border: none;
        outline: 0;
        font-family: Montserrat;
        font-size: 24px;
        padding: 7px 30px 7px 7px;
        cursor: pointer;

        option {
          background: $d-option-bg;
          cursor: pointer;
        }
      }

      &_settings,
      &_logout {
        border: none;
        background: none;
        color: $d-main-color;
        height: 37px;
        font-size: 24px;
        font-family: 'Montserrat';
        cursor: pointer;

        &:hover,
        &:hover {
          background: $d-hover-color;
          box-shadow: $d-box-shadow;
        }
      }
    }
  }

  .main {
    min-height: 100vh;
    margin-top: 40px;
    border: $d-border-color;
    background: $d-main-bg;
    padding: 25px 33px;

    &__container {
      &_control-panel {
        display: flex;
        justify-content: space-between;

        &-buttons {
          flex: 1 1 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-right: 20px;
          max-width: 863px;
        }

        button {
          background: $d-button-bg;
          border: none;
          box-shadow: none;
          border-radius: 0;
          color: #eaeaea;
          font-size: 24px;
          padding: 7px 42px;
          cursor: pointer;

          &:hover {
            background: $d-hover-color;
            box-shadow: $d-box-shadow;
          }
        }

        select {
          appearance: none;
          color: $d-main-color;
          background: #225571 $d-select-bg;
          background-size: 18px;
          border: none;
          outline: 0;
          font-family: Montserrat;
          font-size: 24px;
          padding: 7px 22px 7px 7px;
          cursor: pointer;
          min-width: 200px;

          option {
            background: $d-option-bg;
            cursor: pointer;
          }
        }
      }

      &_search {
        display: inline-block;
        margin: 20px 0;
        max-width: 440px;

        &_label {
          font-family: Montserrat;
          font-size: 24px;
          text-align: left;
          margin-top: 5px;
        }

        &_input {
          height: 38px;
          width: 392px;
          padding-left: 7px;
          background: $d-input-bg;
          border: none;
          color: $d-main-color;
          font-size: 16px;

          &:active {
            border: $d-border-color;
          }
        }

        &_submit {
          background: $d-search-bg;
          height: 38px;
          width: 38px;
          position: relative;
          top: 9px;
          background-size: 41px;
          border: none;
          cursor: pointer;
        }
      }
    }

    .table {
      width: 100%;
      border: 2px solid #ccc;
      border-spacing: 3px;
      border-collapse: collapse;

      &__header {
        &-tr {
          background: $d-table-th-bg;
        }

        .tr {
          &-id {
            width: 60px;
          }

          &-fname {
            width: 157px;
          }

          &-lname {
            width: 197px;
          }

          &-age {
            width: 80px;
          }

          &-phone {
            width: 180px;
          }

          &-city {
            width: 175px;
          }

          &-email {
            width: 250px;
          }

          &-company {
            width: 190px;
          }
        }
      }

      td,
      th {
        border: solid 2px #ccc;
        height: 80px;
        font-weight: lighter;
        font-family: Montserrat;
        font-size: 19px;
        cursor: pointer;
      }

      tr {
        cursor: pointer;
        transition: all 0.25s ease-in-out;
      }

      &__body {
        tr:hover {
          background: $d-option-bg;
        }
        tr:active{
          background: $d-selected-row;
        }
      }

      .selectedRow {
        background: $d-selected-row;
      }

    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $d-modal-area-bg;
      transform: translateY(-44.5%) scale(0);
      z-index: -1;
      transition: all 0.6s ease 0s;


      &.active {
        z-index: 2;
        transform: translateY(0%) scale(1);
      }

      &__body {
        @extend %message-shared;
        min-height: 100%;
        justify-content: center;
        padding: 30px 10px;
      }

      &__content {
        background: $d-modal-bg;
        color: $d-main-color;
        max-width: 800px;
        padding: 30px;
        position: relative;
      }

      &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 15px;
        text-decoration: none;
        color: $d-main-color;
        cursor: pointer;
      }

      &__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &__title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }

      &__btn {
        width: 130px;
        height: 40px;
        border: none;
        background: $d-modal-btn-bg;
        color: $d-main-color;
        margin: 0 10px;
        font-size: 18px;
        align-items: center;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: #00000099;
          box-shadow: $d-box-shadow;
        }
      }
    }

    .settingsModal {
      &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .input {
          padding: 20px;

          &__block {
            display: flex;
            flex-direction: column;
            padding: 10px;

            p{
              font-size: 13px;
              color: #ffffff;
              text-align: start;
            }

            .setting-login-message{
              position: absolute;
              top: 127px;
              left: 61px;
            }

            .setting-newPassword-message{
              position: absolute;
              top: 200px;
              left: 61px;
            }

            .setting-repeatPassword-message{
              position: absolute;
              top: 274px;
              left: 61px;
            }

            .checkbox {
              position: absolute;
              width: 10px;
              top: 183px;
              right: 85px;
            }

            .checkbox2 {
              position: absolute;
              width: 10px;
              top: 256px;
              right: 85px;
            }

            .invalid {
              outline: 1px solid #ff0000;
            }

            .invalid:focus {
              outline: 1px solid #ff0000;
            }



            input {
              background: rgba(21, 20, 20, 0.4);
              border: none;
              width: 320px;
              height: 35px;
              color: $d-main-color;
              font-size: 18px;

              &:active {
                border: 1px solid $d-main-color;
              }

              label {
                margin-bottom: 5px;
                font-size: 18px;
                text-decoration: none;
              }
            }
          }
        }
      }

      &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 25px;
      }
    }

    .clearAllModal {
      &__content {
        height: 194px;

        &_title {
          margin-bottom: 40px;
        }
      }
    }

    .deleteModal {

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 194px;

        span {
          margin: 20px 0 30px 0;
        }
      }
    }

    .createModal__content {
      @extend %message-shared;
      flex-direction: column;

      p{
        font-size: 13px;
        color: #ffffff;
        text-align: start;
      }

      .firstName-message{
        position: absolute;
        top: 143px;
        left: 75px;
      }

      .lastName-message{
        position: absolute;
        top: 218px;
        left: 75px;
      }

      .age-message{
        position: absolute;
        top: 290px;
        left: 75px;
      }

      .city-message{
        position: absolute;
        top: 364px;
        left: 75px;
      }

      .phone-message{
        position: absolute;
        top: 142px;
        left: 386px;
      }

      .email-message{
        position: absolute;
        top: 218px;
        left: 386px;
      }

      .company-message{
        position: absolute;
        top: 290px;
        left: 386px;
      }


      &_input {
        display: flex;
        margin: 15px;
      }


      .input {
        padding: 20px;


        .invalid {
          outline: 1px solid #ff0000;
        }

        .invalid:focus {
          outline: 1px solid #ff0000;
        }


        &__block {
          display: flex;
          flex-direction: column;
          padding: 10px;

          input {
            background: rgba(21, 20, 20, 0.4);
            border: none;
            width: 251px;
            height: 35px;
            color: $d-main-color;
            font-size: 18px;

            &:active {
              border: 1px solid $d-main-color;
            }

            label {
              margin-bottom: 5px;
              font-size: 18px;
              text-decoration: none;
            }
          }
        }
      }

      &_button {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 22px;
        flex-direction: column;
        align-items: center;
        height: 115px;

        &-confirm,
        &-cancel {
          height: 44px;
          width: 166px;
          background: #00000080;

          &:hover {
            background: linear-gradient(180deg, rgba(92, 97, 103, 0.7) 0%, rgba(0, 0, 0, 0.7) 83.33%);
          }
        }
      }
    }
  }
}

//Light Theme

.theme-light {
  background: $l-body-bg;

  .wrapper {

    .header {

      &__logo {
        @extend %message-shared;
        background: $l-logo-bg;
        background-size: contain;
        height: 100px;
        padding-left: 86px;
      }

      &__team-name {
        color: $l-main-color;
      }

      &__menu {
        border: 1px solid $l-border-color;
        background: $l-main-bg;
        box-shadow: $l-box-shadow;

        &_select {
          appearance: none;
          color: $l-main-color;
          background: $l-select-bg;

          option {
            background: $l-option-bg;
          }
        }

        &_settings,
        &_logout {
          color: $l-main-color;

          &:hover,
          &:hover {
            background: $l-hover-color;
            box-shadow: $l-box-shadow;
          }
        }
      }
    }

    .main {
      border: $l-border-color;
      background: $l-main-bg;
      box-shadow: $l-box-shadow;


      &__container {
        &_control-panel {

          button {
            background: $l-button-bg;
            color: $l-main-color;

            &:hover {
              background: $l-hover-color;
              box-shadow: $l-box-shadow;
            }
          }

          select {
            appearance: none;
            color: $l-main-color;
            background: #B7ACBCCC $l-select-bg;

            option {
              background: $l-option-bg;
            }
          }
        }

        &_search {
          &_label {
            color: $l-main-color;
          }

          &_input {
            background: $l-input-bg;
            color: $l-main-color;

            &:active {
              border: $l-border-color;
            }
          }

          &_submit {
            background: $l-search-bg;
            height: 38px;
            width: 38px;
            position: relative;
            top: 9px;
            background-size: 41px;
            border: none;
          }
        }
      }

      .table {
        border: 2px solid $l-main-color;
        color: $l-main-color;

        &__header {
          &-tr {
            background: $l-table-th-bg;
          }
        }

        td,
        th {
          border: solid 2px $l-main-color;
        }

        .selectedRow {
          background: $l-modal-area-bg;
        }

        &__body {
          tr:hover {
            background: $l-input-bg;
          }
          tr:active {
            background: $l-modal-area-bg;
          }
        }
      }

      .modal {
        background: $l-modal-area-bg;

        &__content {
          background: $l-modal-bg;
          color: $l-main-color;
        }

        &__close {
          color: $l-main-color;
        }

        &__btn {
          background: #615666B2;
          color: $l-main-color;

          &:hover {
            background: rgba(77, 65, 82, 0.7);
            box-shadow: $l-box-shadow;
          }
        }
      }

      .settingsModal {
        &__block {
          .input {
            &__block {
              input {
                background: $l-input-bg;
                box-shadow: $l-shadow-input;
                color: $l-main-color;

                &:active {
                  border: 1px solid $l-main-color;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }

      .createModal__content {
        &_input {
        }

        .input {
          &__block {
            input {
              background: $l-input-bg;
              box-shadow: $l-shadow-input;

              &:active {
                border: 1px solid $l-main-color;
                box-shadow: none;
              }
            }
          }
        }

        &_button {
          display: flex;
          justify-content: space-between;
          position: relative;
          top: 22px;
          flex-direction: column;
          align-items: center;
          height: 115px;

          &-confirm,
          &-cancel {

            &:hover {
              background: rgba(77, 65, 82, 0.7);
              box-shadow: $l-box-shadow;
            }
          }
        }
      }
    }
  }
}
