body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;

  color: white;
  background: url("../../assets/img/darkTheme1.jpg");
  font-size: 30px;
  font-family: Montserrat;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    width: 1200px;
    height: 100px;

    &__logo {
      background: url("../../assets/img/icons/logo-white.png") 0 0 no-repeat;
      background-size: contain;
      height: 100px;
      padding-left: 90px;


      &-name{
        font-size: 28px;
        font-weight: 500;
        position: relative;
        top: 35px;
      }
    }

    &__ability {
      display: flex;
      justify-content: space-between;
      border: 1px solid #E5E5E5;

      &-select{
        border: none;
        color: white;
        background: linear-gradient(180deg, #69AEC5 0%, #448499 0.01%, rgba(15, 60, 93, 0.75) 100%);
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        padding: 10px 11px;
        cursor: pointer;
      }


      option {
        background: rgba(13, 51, 79, 0.75);
        outline: none;
        border: none;
        letter-spacing: 2px;
      }
    }
  }
}

.ligth-container {
  background: url("../../assets/img/lighttheme.jpg") 0 0 no-repeat;
  color: #000000;

  .header {

    &__logo {
      background: url("../../assets/img/icons/logo-black.png") 0 0 no-repeat;
      background-size: contain;

      &-name{
        font-size: 28px;
        font-weight: 500;
        position: relative;
        top: 35px;
      }
    }

    &__ability {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;

      &-select{
        color: #000000;
        background: #B7ACBC;
      }


      option {
        background: #A9A0B2FF;
      }
    }
  }
}

/*.ligth-container {
  background: url("../../assets/img/lighttheme.jpg") 0 0 no-repeat;
  color: #000000;

  .header {

    .logo{
      background: url("../../assets/img/icons/logo-black.png") 0 0 no-repeat;
      background-size: contain;
    }

    .ability option {

      background: #ffffff;
    }

    .select {
      color: #000000;
      background-color: #B7ACBC;
    }
  }
}*/

.box {
  min-width: 500px;
  background: linear-gradient(to bottom, rgba(6,155,236,1) 0%, rgba(6,155,236,1) 0%, rgba(1,212,166,0.25) 100%);
  padding: 30px;
  text-align: center;

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);


  border: 0.1px solid #ffffff;


  div {

    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;

    a {
      color: #c77f00;
      text-decoration: none;
    }
  }

  .box__title-1{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 17px;
    position: absolute;
    top: 125px;
    left: 70px
  }

  .notice{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .warning{
    margin: 15px 0 ;
  }

  .warning-link{
    margin-left: 15px;
  }


  h1 {
    margin: 40px 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 30px;
  }

  .pass {

    border: 0;
    background: black;
    opacity: .6;
    display: block;
    margin: 0px auto;
    padding: 14px 10px;
    width: 400px;

    font-size: 17px;
    color: white;
  }

  .pass:focus {
    outline: 2px solid #ffffff;
  }

  .invalid {
    outline: 3px solid #ff0000;
  }

  .invalid:focus {
    outline: 3px solid #ff0000;
  }

  .text {
    border: 0;
    background: black;
    opacity: .6;
    display: block;
    margin: 0px auto;
    padding: 14px 10px;
    width: 400px;

    font-size: 17px;
    color: white;
  }

  .text:focus {
    outline: 2px solid #ffffff;
  }

  .invalid {
    outline: 3px solid #ff0000;
  }

  .invalid:focus {
    outline: 3px solid #ff0000;
  }

  .box__pass {
    display: flex;
    align-items: center;
    margin: 55px auto;

    &-title-1{
      text-transform: uppercase;
      font-size: 17px;
      position: absolute;
      top: 230px;
      left: 70px;
    }

  }

  .checkbox {
    position: absolute;
    width: 10px;
    right: 105px;
  }

  .login-message{
    position: absolute;

    width: 413px;
    height: 35px;

    top: 185px;
    left: 75px;

    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
  }

  .password-message{
    position: absolute;
    width: 413px;
    height: 35px;

    bottom: 140px;
    left: 75px;

    text-align: center;
    font-size: 14px;
    font-weight: 500;;
    letter-spacing: 1px;
    color: #ffffff;
  }

  &__button {
    background: #faa448;
    width: 278px;
    padding: 15px;
    border: 1px solid #ffffff;
    color: #f6f6f6;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &:hover {
      outline: 2px solid #fff;
      background: #f8972a;
      cursor: pointer;
    }

    &:active {
      background: #fd7f02;
      border: 1px solid #ffffff;
    }
  }
}

.ligth {
  background: linear-gradient(180deg, #D0CBD8 0%, rgba(29, 74, 115, 0.25) 100%);
  border: 1px solid #000;
  color: black;

  div a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
  }

  .text {
    color: #ffffff;
    border-bottom: 0.1px solid #000000;
  }

  .pass {
    color: #ffffff;
    border-bottom: 0.1px solid #000000;
  }


  .box__pass {
    .img-eye {
      background-image: url("https://img.icons8.com/material-sharp/24/ffffff/sleepy-eyes.png");
    }

    .img-eye2 {
      background-image: url("https://img.icons8.com/material-sharp/24/ffffff/sleepy-eyes.png");
    }
  }

  .box__button {
    background: #b7acbc;
    border: .1px solid #070000;
    color: #000000;

    &:hover {
      outline: .1px solid #827488;
      background: #827488;
    }

    &:active {
      background: #63526b;
      border: .1px solid #63526b;
    }
  }
}
