body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  color: white;
  background: url("../../assets/img/darkTheme1.jpg") no-repeat;
  font-size: 30px;
  font-family: Montserrat;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1200px;
    height: 100px;

    &__logo {
      background: url("../../assets/img/icons/logo-white.png") 0 0 no-repeat;
      background-size: contain;
      height: 100px;
      padding-left: 90px;


      &-name{
        font-size: 28px;
        font-weight: 500;
        position: relative;
        top: 35px;
      }
    }

    &__ability {
      display: flex;
      justify-content: space-between;
      border: 1px solid #E5E5E5;

      &-select{
        border: none;
        color: white;
        background: linear-gradient(180deg, #69AEC5 0%, #448499 0.01%, rgba(15, 60, 93, 0.75) 100%);
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 400;
        padding: 10px 11px;
        cursor: pointer;
      }


      option {
        background: rgba(13, 51, 79, 0.75);
        outline: none;
        border: none;
        letter-spacing: 2px;
      }
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0 15px;

    .box {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 500px;
      background: linear-gradient(to bottom, rgba(6,155,236,1) 0%, rgba(6,155,236,1) 0%, rgba(1,212,166,0.25) 100%);
      padding: 30px;
      text-align: center;
      border: 0.1px solid #ffffff;

      &__login {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      a {
        color: #c77f00;
        text-decoration: none;
      }

      .box__title-1{
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 17px;
      }

      .notice{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .warning{
        margin: 15px 0;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 20px;
      }

      .warning-link{
        margin-left: 15px;
        font-size: 20px;
      }


      h1 {
        margin-bottom: 40px;
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 30px;
      }

      .pass {
        border: 0;
        background: black;
        opacity: 0.6;
        display: block;
        margin: 0px auto;
        padding: 14px 10px;
        width: 400px;
        font-size: 17px;
        color: white;
      }

      .pass:focus {
        outline: 2px solid #ffffff;
      }

      .invalid {
        outline: 3px solid #ff0000;
      }

      .invalid:focus {
        outline: 3px solid #ff0000;
      }

      .text {
        border: 0;
        background: black;
        opacity: .6;
        display: block;
        margin: 0px auto;
        padding: 14px 10px;
        width: 400px;
        font-size: 17px;
        color: white;
      }

      .text:focus {
        outline: 2px solid #ffffff;
      }

      .invalid {
        outline: 3px solid #ff0000;
      }

      .invalid:focus {
        outline: 3px solid #ff0000;
      }

      .box__pass {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        position: relative;

        &-title-1{
          text-transform: uppercase;
          font-size: 17px;
        }

      }

      .checkbox {
        position: absolute;
        top: 28px;
        right: 14px;
      }

      .login-message,
      .password-message
      {
        max-width: 426px;
        height: 15px;
        margin-top: 5px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #ffffff;
      }


      .btn-submit {
        background: #faa448;
        width: 278px;
        margin-top: 40px;
        padding: 15px;
        border: 1px solid #ffffff;
        color: #f6f6f6;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;

        &:hover {
          outline: 2px solid #fff;
          background: #f8972a;
          cursor: pointer;
        }

        &:active {
          background: #fd7f02;
          border: 1px solid #ffffff;
        }
      }
    }
  }
}

.ligth-container {
  background: url("../../assets/img/lighttheme.jpg") 0 0 no-repeat;
  color: #000000;

  .header {

    &__logo {
      background: url("../../assets/img/icons/logo-black.png") 0 0 no-repeat;
      background-size: contain;

      &-name{
        font-size: 28px;
        font-weight: 500;
        position: relative;
        top: 35px;
      }
    }

    &__ability {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;

      &-select{
        color: #000000;
        background: #B7ACBC;
      }


      option {
        background: #A9A0B2FF;
      }
    }
  }

}

/*.ligth-container {
  background: url("../../assets/img/lighttheme.jpg") 0 0 no-repeat;
  color: #000000;

  .header {

    .logo{
      background: url("../../assets/img/icons/logo-black.png") 0 0 no-repeat;
      background-size: contain;
    }

    .ability option {

      background: #ffffff;
    }

    .select {
      color: #000000;
      background-color: #B7ACBC;
    }
  }
}*/


.ligth {
  background: linear-gradient(180deg, #D0CBD8 0%, rgba(29, 74, 115, 0.25) 100%);
  border: 1px solid #000;
  color: black;

  div a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
  }

  .text {
    color: #ffffff;
    border-bottom: 0.1px solid #000000;
  }

  .pass {
    color: #ffffff;
    border-bottom: 0.1px solid #000000;
  }


  .box__pass {
    .img-eye {
      background-image: url("https://img.icons8.com/material-sharp/24/ffffff/sleepy-eyes.png");
    }

    .img-eye2 {
      background-image: url("https://img.icons8.com/material-sharp/24/ffffff/sleepy-eyes.png");
    }
  }

  .btn-submit {
    background: #b7acbc;
    border: .1px solid #070000;
    color: #000000;


    &:hover {
      outline: .1px solid #827488;
      background: #827488;
    }


    &:active {
      background: #63526b;
      border: .1px solid #63526b;
    }
  }
}
